<div class="app">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Zen+Loop:ital@1&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Zen+Loop:ital@1&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Tourney:wght@100&family=Zen+Loop:ital@1&display=swap');
        
        </style>
    <h1>TO DO LIST</h1>
        <h3> Put yourself at top of your To-Do List : )</h3>
<app-todos></app-todos>
</div>