/* You can add global styles to this file, and also import other style files */
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:sans-serif;
padding-bottom: 10px;
}
body{
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    overflow: hidden;
    position: relative;
    


}

